obj/
lib/
test/obj/
test/test_construction
test/test_balance
test/test_slice
test/test_insert
test/test_delete
test/test_compare
test/test_index
test/test_split
test/test_iterator
test/test_map
test/test_case
test/test_trim
examples/obj/
examples/rope_tool

*~
.\#*
\#*\#
